   <div class="container">
        <div class="row">
            
                <!-- login_wrapper -->
                <div class="login_wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"> <a href="#" class="btn btn-primary facebook"> <span>Login with Facebook</span> <i class="fab fa-facebook-f"></i> </a> </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"> <a href="#" class="btn btn-primary google-plus"> Login with Google <i class="fab fa-google"></i> </a> </div>
                    </div>
                 </div>
        </div> 
           
        
    </div>